body.dark-mode {
  background-color: #333;
  color: #fff;
}

.my-custom-container {
  max-width: 2540px;
  font-size: large;
}

.navbar-custom {
  background-color: #1f2937;
}

.navbar-nav .nav-link {
  color: #ea6a6a;
}

.navbar-brand {
  font-family: 'Courgette', cursive;
  font-weight: 800;
  font-size: 20px;
}

.nav-item :hover {
  background-color: #2d425b;
  border-radius: 10px;
}
